<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cbs.sscbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeachersTimeTable"
            android:label="Teacher&apos;s Time Table"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Model" />
        <activity
            android:name=".Sample"
            android:label="Info"
            android:parentActivityName=".TeachersTimeTable"/>


        <activity
            android:name=".About_Activity"
            android:label="About Us"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LifeAtCbs"
            android:label="Life At CBS"
            android:parentActivityName=".About_Activity"/>
        <activity android:name=".Facilities"
            android:label="Facilities"
            android:parentActivityName=".About_Activity" />
        <activity
            android:name=".Developers"
            android:label="Developers"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Gallery_Activity"
            android:label="GALLERY"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".auth.AuthUiActivity" />
        <activity android:name=".auth.SignedInActivity" />
        <activity
            android:name=".FullScreenImage"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".web" />
        <activity
            android:name=".Contact_us"
            android:label="Contact Details"
            android:parentActivityName=".About_Activity" />

        <activity android:name=".CreateEvent"
            android:label="Create New Event"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Deadlines"
            android:label="Deadlines"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Grievances"
            android:label="Grievances"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Bookings"
            android:label="All Bookings"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>