<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cbs.sscbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Others.MainActivity"
            android:label="SSCBS"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeachersTimetable.TeachersTimeTable"
            android:label="Teacher&apos;s Time Table"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SideBar.About_Activity"
            android:label="About Us"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".SideBar.LifeAtCbs"
            android:label="Life At CBS"
            android:parentActivityName=".SideBar.About_Activity" />
        <activity
            android:name=".Attendance.AttendanceMain"
            android:label="Attendance"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".SideBar.Facilities"
            android:label="Facilities"
            android:parentActivityName=".SideBar.About_Activity" />
        <activity
            android:name=".SideBar.Gallery_Activity"
            android:label="GALLERY"
            android:parentActivityName=".Others.MainActivity" />
        <activity android:name=".auth.AuthUiActivity" />

        <activity
            android:name=".Others.Contact_us"
            android:label="Contact Details"
            android:parentActivityName=".SideBar.About_Activity" />
        <activity
            android:name=".Events.CreateEvent"
            android:label="Create New Event"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".Others.Grievances"
            android:label="Grievances"
            android:parentActivityName=".Others.MainActivity" />
        <activity
            android:name=".Attendance.TeacherCourseDetails"
            android:parentActivityName=".Others.MainActivity" />
        <activity android:name=".auth.GuestEventsActivity" />
        <activity android:name=".Attendance.ShowToStudents" />
        <activity android:name=".Others.Developers"
            android:label="Developers"></activity>
    </application>

</manifest>